@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&display=swap');


p {
    font-family: 'Raleway', sans-serif;
    margin-left: 1.6%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 3px solid #f1f1f1;
    border-image-width: 30%;

}


img {
    min-width: 300px;
    width: 30%;
    margin: 1.6%;
}

.image-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


@media(max-width:789px) {
   
}